In [10]:
# Importation des bibliothèques
import pandas as pd
import seaborn as sbn

In [11]:
# Importation du dataset
df_loto = pd.read_csv("C:/Users/axela/Desktop/Dév Python/loto_gagnant_prediction/data/num_gagnant_loto_11-2019_04-2025.csv", delimiter=";")

In [12]:
df_loto.head()

,annee_numero_de_tirage,jour_de_tirage,date_de_tirage,date_de_forclusion,boule_1,boule_2,boule_3,boule_4,boule_5,numero_chance,...,rapport_du_rang1_second_tirage,nombre_de_gagnant_au_rang_2_second_tirage,rapport_du_rang2_second_tirage,nombre_de_gagnant_au_rang_3_second_tirage,rapport_du_rang3_second_tirage,nombre_de_gagnant_au_rang_4_second_tirage,rapport_du_rang4_second_tirage,numero_jokerplus,devise,Unnamed: 49
0,25043,MERCREDI,09/04/2025,08/07/2025,36,16,12,47,46,9,...,"31582,00",524,"184,80",17309,"14,30",192928,"3,00",4628122,eur,NaN
1,25042,LUNDI,07/04/2025,06/07/2025,21,34,13,38,2,1,...,"53242,00",183,"637,40",8171,"36,70",120985,"3,00",8902258,eur,NaN
2,25041,SAMEDI,05/04/2025,04/07/2025,14,30,22,8,27,7,...,"42759,00",319,"584,30",13824,"34,60",195473,"3,00",7196936,eur,NaN
3,25040,MERCREDI,02/04/2025,01/07/2025,45,5,34,15,4,9,...,"146433,00",264,"551,50",12367,"30,20",183987,"3,00",5807884,eur,NaN
4,25039,LUNDI,31/03/2025,29/06/2025,3,4,28,16,38,4,...,"124431,00",214,"607,50",10160,"32,90",148875,"3,00",1886728,eur,NaN